@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: 'Chivo', sans-serif;
    color: #E2EEF4;
    scroll-behavior: smooth;
}

body{
    background: #04090B;
}