@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: 'Chivo', sans-serif;
    color: #DFEBF9;
    scroll-behavior: smooth; 
}

body{
    background: #070e13;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #8bb3eb;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #4d89dc;
    transition: 0.5s;
    transition: ease-in;
}